ul {
  list-style: none;
  padding: 0;
}
li {
  padding-left: 1.3em;
  cursor: pointer;
}
.db:before {
  content: "\f1c0";
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: blue;
}
.connection:before {
  content: "\f233"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: darkblue;
}
.schma:before {
  content: "\f1ac"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: rgb(255, 0, 128);
}
.tbl:before {
  content: "\f0ce"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: rgb(255, 102, 0);
}
.columne:before {
  content: "\f0db"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
  color: rgb(9, 216, 9);
}
